body{
    font-family: 'Arial' , sans-serif;
    background-color: #f4f4f4;
}

.resume-container{
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0 , 0 , 0, 0.1);
}
/* left section styling */

.left-section{
    background-color: #092558;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid  #092558;
}

.profile-picture{
    width: 150px ;
    height: 150px ;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #092558 ;
    margin-bottom: 20px ;
}

h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow:  0 0 15px white;
    margin-top: 5%;
    margin-bottom: 5%;
    
}


.right-section{
    background-color: white;
    color: black;
    padding: 20px;
    width: 55%;
    text-align: center;
    border-right: 5px solid #092558 ;
}



